frontend/dist/
.DS_Store
frontend/.DS_Store
frontend/target/
*.db
database.db
backend/database.db
backend/backend/
backend/uploads/
backend/target/
.env
backend/src/api/payloads.md
second_terminal
*.pem
backend/*.pem
