frontend/dist/
.DS_Store
frontend/.DS_Store
frontend/target/
*.db
database.db
backend/database.db
backend/backend/
backend/uploads/
backend/target/
.env
backend/src/api/payloads.md
second_terminal

# Tesla integration sensitive files
backend/tesla_private_key.pem
backend/tesla_public_key.pem
backend/tesla-proxy-tls/key.pem
backend/tesla-proxy-tls/cert.pem
